<div class="container-fluid">
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">
            Volkswagen Online Shop
        </span>
    </div>


    <div class ="row text-white">
        <div class ="col-3 p-2 bg-primary">
            <div class="d-grid gap-2">
                <!--we used string interpolation in next line-->
                {{ categories.length }} categories
            </div>
        </div>
        <div class="col-9 p-2 text-dark">
            <div *ngFor="let product of products" class = "card m-1 p-1 bg-light">
                <!--ngFor is a for loop which will iterate the no. of times its specified-->
                <h4>
                    {{product.name }} <!--to turn it into upper or lower case, 
                     wecan add pipe : {{product.name | Uppercase}}-->
                    <span class ="badg rounded-pill bg-primary" style="float: right;">
                        {{product.price | currency:"INR"}} <!--whatever is written after vertical line is called "pipe"-->
                    </span>
                </h4>
                <div class="card-text bg-white p-1">
                    {{product.description}}
                    <!--{{myDate | date}} ----to add the date -->
                </div>
            </div>
        </div>
    </div>
</div>

