<div class="container-fluid">
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">
            Volkswagen Online Shop
        </span>
    </div>


    <div class ="row text-white">
        <div class ="col-3 p-2 bg-primary">
            <div class="d-grid gap-2">
                We will show categories here 
            </div>
        </div>
        <div class="col-9 p-2 text-dark bg-success">
            We will show list of products here
        </div>
    </div>
</div>

